---
---

@import "{{ site.theme }}";

h1 {
  color: black ;
  font-family: 'Bungee Shade', cursive;
}

h2 {
  color: black;
  font-family: 'Baloo Chettan 2', cursive;
}

img {
  border-radius: 20px;
  border: 4px solid #5C602E;
  padding: 0px;
  margin: 100px
}

h3 {
 color: #685634 ;
  font-family: 'Schoolbell', cursive;
}
