---
---

@import "{{ site.theme }}";

h1 {
  color: black ;
  font-family: 'Bungee Shade', cursive;
}

h2 {
  color: black;
  font-family: 'Baloo Chettan 2', cursive;
}

img {
  border-radius: 20px;
  border: 4px solid #5C602E;
  padding: 0px;
  margin: 50px
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #4a148c;
    background-image: linear-gradient(120deg, #064789, #427AA1, #679436, #A5BE00);
}

