---
---

@import "{{ site.theme }}";

h1 {
  color: #685634 ;
  font-family: 'Bungee Shade', cursive;
}

h2 {
  color: #679436;
  font-family: 'Baloo Chettan 2', cursive;
}

img {
  border-radius: 20px;
  border: 4px solid #5C602E;
  padding: 0px;
  margin: 100px
}

